/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
.banner{
    background: blue;
    padding: 440px 200px;
    display: block;
    
}
/* body */
body{
    overflow: scroll;
    font-family: 'Poppins', sans-serif 

}
h2{
    font-family: Poppins;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;

}
h2{
    position: absolute;
    width: 500px;
    height: 230px;
    left: 200px;
    top: 200px;
}
.link-button {
    padding: 10px 40px;
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    line-height: 150px;
    
}
.half-width{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 1000px;
    top: 200px;
}
.half-width img{
    width: 150%;
}
h3{
    font-size: 30px;
}
/* top players style */
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px
}
.players{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    border: solid;
    
}   
.players img{
    width: 330px;
    height: 474px;  
}

    